@media screen and (max-width: 900px) {
    ul #dropdown {
        display: inline;
    }

    li {
        display: none;
    }
    
    .show li {
        display: block;
    }

    nav > ul {
        flex-direction: column;
        gap: 1em;
        min-height: 2em;
        height: min-content;
    }

    main #hero-image-container #medium-id {
        display: none;
    }

    #hero-image-container #small-id {
        display: inline;
        float: right;
    }

    main #gallery-grid {
        grid-template-columns: 1fr;
    }
}