@import url('./style.css');

main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 1em;

    background-color: var(--tertiary-color);
    border-radius: 5px;
    padding: 1em;
}

section {
    aspect-ratio: 1/1;
    background-color: var(--secondary-color);
    width: 15rem;
    border: .5px solid black;
    border-radius: 5px;
    padding: .5em;
    text-align: center;
}

section > h3 {
    margin: .5em 0;
}