@media screen and (max-width: 900px) {
    ul #dropdown {
        display: inline;
    }

    li {
        display: none;
    }
    
    .show li {
        display: block;
    }

    nav > ul {
        flex-direction: column;
        gap: 1em;
        min-height: 2em;
        height: min-content;
    }
}