@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

* {
    margin: 0;
    padding: 0;
    
    --primary-color: #3A606E;
    --secondary-color: #607B7D;
    --tertiary-color: #828E82;
    --body-color: #E0E0E0;
}

body {
    margin: 0 auto;

    min-width: 100vw;

    font-family: 'Ubuntu', sans-serif;

    background-color: var(--body-color);
}

header, footer {
    width: 100%;
    margin: 0 auto;
    background-color: var(--primary-color);
}

header > section{
    margin: 0 auto;

    max-width: 1500px;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: row;

    font-size: 1.2em;
}

header > section > img {
    max-height: 10rem;
}

header, main, section, footer {
    margin: .5em 0;
}

nav {
    background-color: var(--secondary-color);
    width: 100%;
}

nav > ul {
    list-style: none;
    height: 2em;
    margin: 0 auto;
    max-width: 1500px;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

}

li {
    border-radius: 5px;
    text-align: center;
    overflow: hidden;
}
li:hover, li a.active {
    background-color: #AAAE8E;
    cursor: pointer;
}

li > a {
    font-size: 1.1em;
    height: inherit;
    color: black;
    display: block;
    padding: .2em 1em;
}

main > div {
    margin: 1em 0;
    padding: 1em;
}

#hero-image-container {
    margin: 0;
    padding: 0;
}

#hero-image-container section {
    padding: .5em;
    margin: 3rem;
    height: min-content;
    width: 13em;
    position: absolute;
    z-index: 1;
    background-color: #3A606E90;
}

#hero-image-container h2 {
    text-decoration: underline;
}

#hero-image-container p {
    font-size: 1.3em;

}

#hero-image-container img {
    max-width: 100%;
    position: relative;
}

#hero-image-container h3 {
    display: none;
    position: absolute;
    z-index: 1;
    color: white;
}

#forecast > section {
    background-color: #aaa;
    height: 4rem;
    width: 100%;
    padding: 0.3em;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#forecast > section > div {
    height: inherit;
    width: 5rem;
    background-color: #ccc;
}

#article {
    height: min-content;
}

#article > div {
    width: 10rem;
    height: 8rem;
    background-color: #aaa;
    float: right;
}

#contact {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#contact > section {
    padding: 1rem;
}

#location-map {
    width: 20rem;
    aspect-ratio: 16/9;
    background-color: #aaa;
    margin: 0 auto;
}

.social-media-link {
    height: 2rem;
    width: 2rem;
    background-color: red;
    display: inline-block;
}


footer {
    bottom: 0;
    min-height: 5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: .5em;
}