*{
    margin: 0;
    padding: 0;
}

body {
    font-family: new-order, sans-serif;

    --primary-color: #817F75;
    --secondary-color: #FF6B6B;
    --tertiary-color: #292F36;
    --primary-accent: #4ECDC4;
    --secondary-accent: #FFE66D;
}

body :is(h1, h2, h3) {
    font-family: bely-display, sans-serif;
}
body :is(h4, h5, h6) {
    font-family: contralto-big, sans-serif;
}

header {
    background-color: var(--primary-color);
    color: white;
}

header section {
    padding: 1em;
    max-width: 80rem;
    margin: 0 auto;

    display: flex;
    align-items: center;
    gap: 1em;    
}

header h1 {
    display: inline;
    font-size: 2em;
}

header section img {
    max-width: 7rem;
}

.hero-image-container {
    max-width: 80rem;
    height: 20rem;
    margin: 1rem auto;
}

.hero-image-container > img {
    width: 100%;
    height: 100%;
    object-fit:cover;
}

nav {
    background-color: var(--tertiary-color);
    text-align: center;
    padding: 1em;
}

#main-navbar {

    display: flex;
    justify-content: space-between;
    flex-direction: row;

    list-style: none;
    max-width: 80rem;
    margin: 0 auto;
    font-size: 1.3em;
}

.nav-links {
    padding: .5em;
    border-radius: 10px;
}
.nav-links:not(.dropdown-opener):hover, .nav-links:not(.dropdown-opener).active {
    background-color: var(--secondary-color);
}

.nav-links a {
    color: white;
}

.dropdown-opener {
    display: none;
    font-size: 1.3em;
    border: none;
    background-color: var(--tertiary-color);
    color: white;
}

#current-weather {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
}

#main-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    max-width: 60rem;
    margin: 0 auto;
}

#main-info > div {
    border-radius: 10px;
    padding: 1em;
}

#weather {
    max-width: 60rem;
    margin: 1em auto;
    padding: 1em;
    border-radius: 10px;
    background-color: var(--tertiary-color);
    color: white;

    display: grid;
    grid-template-columns: 1fr 2fr;
}
#weather h2, #weather h3 {
    text-align: center;
    margin: 1em;
}

#weather article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#forecast-info {
    gap: .5em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

#forecast h3, #forecast-info > div {
    text-align: center;
}

.weather-card {
    border-radius: 10px;
    background-color: var(--primary-accent);
    padding: .5em;
}


#ads-parent {
    background-color: var(--secondary-color);
    border-radius: 10px;
    padding: 1em;
    margin: 1rem auto;
    max-width: 60rem;

}

#ads-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1em;
    max-width: 60rem;
    margin: 0 auto;
}

#ads-container h2 {
    text-align: center;
    margin: 1em;
}

.ads {
    background-color: var(--primary-accent);
    color: white;
    border: 1px solid black;
    border-radius: 10px;
    padding: 1em;
    max-width: 15rem;

    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-evenly;
}

.ads img {
    max-width: 10rem;
    margin: 0 auto;
}

#about-us, #events {
    background-color: var(--primary-color);
    color: white;
}

#about-us h2 {
    text-align: center;
}

#about-us img {
    max-width: 10rem;
    float: right;
}

#about-us p {
    display: inline;
}

#events {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1em;

}

#events div {
    border: 1px solid black;
    border-radius: 10px;
    padding: 1em;
    text-align: center;

    background-color: var(--tertiary-color);
    color: white;
}

#ads-container a {
    color: white;
}

h2 {
    text-align: center;
    margin: 1em;
}

#about-page article {
    max-width: 60rem;
    margin: 1em auto;
    border-radius: 10px;
    padding: 1em;

}

#about-page h3 {
    margin-bottom: 1em;
    text-align: center;
    font-size: 1.5em;
}

#about-page p {
    font-size: 1.4em;
}

#welcome {
    background-color: var(--tertiary-color);
    color: white;
}

#history {
    background-color: var(--primary-accent);
}



form {
    max-width: 50rem;
    margin: 1em auto;

}

form section {
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
    justify-content: center;
    background-color: var(--tertiary-color);
    color: white;

    padding: 1em;
    border-radius: 5px;
    margin: 1em;
}

form label {
    /* width: 100%; */
    font-size: 1.3em;
}

form input {
    padding: .2em;
    font-size: 1.1em;
    border-radius: 5px;
}

form :is(input:not(.join-form-radio), textarea) {
    display: block;
    resize: none;
}

#join-form-submit, #contact-form-submit {
    margin: 1em auto;
    background-color: var(--primary-accent);
}

#join-form-submit:hover, #contact-form-submit:hover {
    cursor: pointer;
}

#tier-info {
    opacity: 0;
    pointer-events: none;
    position: absolute;
    z-index: 2;
    padding: 1em;
    background-color: var(--secondary-color);
    color: white;
    border-radius: 10px;
}
#tier-info.active {
    pointer-events: all;
    opacity: 1;
}

#backdrop {
    background-color: #000;
    opacity: 0;
    pointer-events: none;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 1;
    width: 100vw;
    height: 100vh;
}
#backdrop.active {
    opacity: .5;
    pointer-events: all;
}

#contact-page form section {
    background-color: var(--secondary-color);
}

#map-info {
    max-width: 60rem;
    margin: 1em auto;

}

#map-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;

    padding: 1em;
    background-color: var(--tertiary-color);
    color: white;
    border-radius: 10px;
}

iframe {
    margin: 0 auto;
}

#map-info article {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;


    font-size: 1.2em;
    padding: 1em;
}

#social-media-links a {
    font-size: 2em;
    color: var(--primary-accent);
    margin: 0 .5em;
}

footer {
    bottom: 0;
    background-color: var(--primary-color);
    color: white;
    padding: 1em;
    margin-top: 1em;

    display: flex;
    flex-direction: row;
    justify-content: center;
}

footer span {
    margin: 0 1em;
}