h1 {
    text-align: center;
}

main {
    max-width: 80rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1em;
    margin: 1em auto;
    justify-content: center;
}

div {
    border-radius: 10px;
    text-align: center;
    background: cadetblue;
    padding: 1em;
}