@import url('./style.css');

section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

section > div {
    margin: 0 auto;
    padding: 1em 0;
    width: calc(100% - 1em);
    height: inherit;
    background-color: var(--tertiary-color);
    border-radius: 5px;

    display: grid;
    grid-template-rows: min-content min-content;
    gap: 1em;

    text-align: center;
}

div > hr {
    width: 80%;
    margin: 0 auto;
}

article > img {
    height: calc(100% - 1em);
}

article > p {
    max-width: 50ch;
    padding: 1em 0;
    margin: 0 auto;
}

@media screen and (max-width: 1400px) {
    section {
        grid-template-columns: 1fr;
    }
}

